.menu{
    border: 0.01625 solid black;
    display: flex;
    width: 81.25em;
    height: 15.625em;
    flex-wrap: wrap;
    margin-left: 1.25em;
    margin-top: -0.9375em;
    
}
.menu-item{
    
    width: 81.25em;
    height: 3.125em;
    text-align: center;
    margin-top: 0.3125em;
    background-color: #383e4c;

    
}
.menu-li{
    display: inline; 
    border: 0.0625em solid white;
    margin-right: 0.625em;
    padding: 0.5em;
    color: white;
    
}

.menu-imagen{
    margin: 0em;
    position: relative;
    
}
.menu-texto-imagen{
    position: absolute;
    color: white;
    left: 23em;
    top: 4.375em;
    font-size: 1.5625em;
}

.imagenes-3{
    
    display: flex;
    width: 68.75em;
    margin-left: 11.25em;
    margin-top: 2.8125em;
    
}
.imagenes-3-1{
    background-color: #ddd9d9;
    height: 17.5em;
    width: 20.625em;
    margin-left: -1.25em;
}
.imagenes-3-1-texto{
    font-size: 0.71875em;
    text-align: center;
    width: 17.5em;
    margin-left: 5em;
    margin-top: 0.0625em;
}
.boton-verde{
    border: 0.0625em solid #178a27;
    background-color: #178a27;
    border-radius: 0.3125em;
    width: 6.25em;
    text-align: center;
    padding: 0.5em 0.9375em 0.5em 0.9375em;
    margin-left: 6.25em;
    

}
.boton-azul{
    border: 0.0625em solid #1686c1;
    background-color: #1686c1;
    border-radius: 0.3125em;
    width: 6.25em;
    text-align: center;
    padding: 0.5em 0.9375em 0.5em 0.9375em;
    margin-left: 6.25em;



}
.boton-rojo{
    border: 0.0625em solid #852406;
    background-color: #852406;
    border-radius: 0.3125em;
    width: 6.25em;
    text-align: center;
    padding: 0.5em 0.9375em 0.5em 0.9375em;
    margin-left: 6.25em;

}

.imagenes-5{
    display: flex;
    width: 68.75em;
    margin-left: 9.375em;
    
}
.imagenes-5-1{
    background-color: #ddd9d9;
    height: 17.5em;
    width: 31.5625em;
    margin: 0.625em;
    
}
.imagenes-5-texto{
    font-size: 0.71875em;
    text-align: center;
    width: 38em;
    margin-left: 3em;
    margin-top: 0.0625em;

}
.imagenes-5-boton{
    border: 0.0625em solid black;
    background-color: white;
    border-radius: 5px;
    width: 6.25em;
    text-align: center;
    padding: 0.5em 0.9375em 0.5em 0.9375em;
    margin-left: 11.875em;

}
.imagenes-7{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.25em;
    margin-top: 2.5em;
    justify-content: center;
    height: 19.375em;
}
.imagenes-7-1{
    margin: 0em 0.625em 0.0625em 0.0625em;
    height: 18.75em;
    background-color: #ddd9d9 ;
    width: 16.875em;

}
.imagenes-7-texto{
    font-size: 0.71875em;
    text-align: center;
    width: 16em;
    margin-left: 3.5em;
    margin-top: 0.0625em;
}
.imagenes-7-boton{
    border: 0.0625em solid black;
    background-color: white;
    border-radius: 0.3125em;
    width: 6.25em;
    text-align: center;
    padding: 0.5em 0.9375em 0.5em 0.9375em;
    margin-left: 4.375em;

}
.imagenes-7-2{
    height: 19.6875em;
    background-color: #ddd9d9 ;
    width: 62.5em;
    margin-left: 10.8125em;
}
.imagenes-7-2-texto{
    font-size: 0.71em;
    text-align: center;
    width: 56.25em;
    margin-left: 16em;
    margin-top: 0.0625em;
}
.imagenes-7-2-boton{
    border: 0.0625em solid black;
    background-color: white;
    border-radius: 0.3125em;
    width: 6.25em;
    text-align: center;
    padding: 0.5em 0.9375em 0.5em 0.9375em;
    margin-left: 27.3125em;

}
.texto-formulario{
    display: flex;
    width: 37.5em;
    border: 0.0625em solid #ddd9d9;
    background-color: #ddd9d9;

    margin-left: 21.875em;
    

}
.formulario{
    display: flex;
    width: 25em;
    margin-left: 21.875em;
    
    
}
.formulario-contenido{
    width: 15.625em;
    height: 15.625em;
    margin-right: 1.875em;
    
    
}
